ul.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  opacity: 0;
  animation: fade-in .5s ease forwards;
}

.menu-list__link {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  transition: opacity .5s ease;
}

.menu-list__link:hover {
  opacity: 1;
}

.menu-list__item {
  margin: 20px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}